#CookieBanner { display: none; }

.cookie-banner {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  background: white;
  color: black;
  text-align: center;
}

  .cookie-banner p {
    font-size: 1rem;
    padding: 1rem 0.5rem 0.375rem 0.5rem;
  }

  .cookie-banner a {
    color: black;
  }

  .cookie-btn {
    background: red;
    border: 0;
    color: white;
    padding: 0.375rem 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
